body { 
	align-items: center; 
	display: flex; 
	font-family: sans-serif; 
	font-weight: 300;	
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;	
	margin-bottom: 5px;	
}

h1 {
	margin-bottom: 10px;	
}

a {
	text-decoration: none;
	color: #1a1a1a;
}

a:link, a active, a:hover { 
	color: #1a1a1a;
	text-decoration: none;
}


.container {
	margin: 0px auto;	
	max-width: 800px;	
}


.navigation {
	padding: 5px 0px;
}


#logout, #login{
	display: inline;
}


.flash { background: #cee5F5;}


.error { 
	background: #f0d6d6; 
	padding: 0.5em; 
}

.edit_delete_pane {
	display: flex;
    align-items: center;
    justify-content: center;
	margin: 0px;	
}

.edit-buttons > a {
	margin-left: 3px;
}