{% extends "allbikes.html" %}	
	{% block content %}
			<div class="row bike">
				<h2> Add new bike </h2>
			

			<form action="{{url_for('addNewBike')}}" method = 'POST'>

				<p>Name:</p>
				<input type='text' size='40' name='bike_name'>

				<p>Description:</p>
				<input type='text' size='40' name='description'>

				<p>Price:</p>
				<input type='text' size='40' name='price'>
				
				<p>Image:</p>
				<input type='text' size='40' name='image'>

				<p>Class:</p>
				<input type="radio" name="bike_class" value="sport" > Sport<br>
				<input type="radio" name="bike_class" value="tourist"> Tourist<br>
				<input type="radio" name="bike_class" value="cruiser"> Cruiser<br>
				
				<input type='submit' value='Add new bike'>
			</form>
		<a id="cancel" href= "{{url_for('allBikes')}}">Cancel</a>
		
</div>
	{% endblock %}
