{% extends "allbikes.html" %}	
	{% block content %}
				

				<div class="row add">
					<a id="add_bike" href="{{url_for('addNewBike')}}">Click Here to Add New Bike </a>
				</div>
				<div class="row" id="bikeSelection">
							<ul id="menu">
								<li class="menuItem"><a href="{{url_for('allBikes')}}" id="selectAll">All</a></li>
								<li class="menuItem"><a href="{{url_for('selectedClass', selected_class='sport')}}" id="sportSel">Sport</a></li>
								<li class="menuItem"><a href="{{url_for('selectedClass', selected_class='tourist')}}" id="tourSel">Tourist</a></li>
								<li class="menuItem"><a href="{{url_for('selectedClass', selected_class='cruiser')}}" id="cruiserSel">Cruiser</a></li>
							</ul>
				</div>


				{% if not bikes %}
					<div class="row" id="no_bike">
						<h2>No bikes found.</h2>
					</div> 
				{% else %}
					{% for i in bikes %}

					<div class="row bike">
						<div class="col-sm-6 bikePic">
							<img class="bikes" src={{i.img}} alt={{i.bike_name}}> 
						</div>						
						
						<div class="col-sm-6 data">
							<div class = 'bike_specs'>
								<span ><p class="bike_name">{{i.bike_name}}</p></span>
								<span ><p>{{i.description}}</p></span>
								<span ><p>Added by: {{author}}</p></span>
							</div>
							
							{% if i.user_id == user_id %}
								<div class = " row edit_delete_pane">
									<a class="edit" href="{{url_for('editBikeSpecs', bike_id=i.id)}}">Edit</a>
									<a class="edit" href="{{url_for('deleteBike', bike_id=i.id)}}">Delete</a>
								</div>
							{% endif %}
															
						</div>
					</div>
					{% endfor %}			
				{% endif %}
			{% endblock %}
		
